*{
    margin: 0;
    padding: 0;
}

body{
     background-color:		#0a0a0a; 
   
    color: white;
    font-family: 'poppins', 'serif';
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.hero{
    background: url(img/bg.jpg) no-repeat center center/cover ;
    position: relative;
    height:90vh;
    
}

#navbar{
    display: flex;
    justify-content: space-around;
    height: 6%;
   position: relative;
    align-items: center;
    text-align: center;
}
.comp {
    display: flex;
    align-items: center;
    position: relative;
    left: -220px;
    margin: 0px 18px;
    
}
.comp img{
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
}

#navbar ul{
    list-style: none;
    font-size: 1rem;
    display: flex;

}
 #navbar ul li{
   
    margin: 16px 30px;
    color: #ffffff;
    cursor: pointer;
 }
 #navbar ul li a{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
 }
 #navbar ul li a:hover{
    color: #C28840;
    cursor: pointer;
    transition: 0.3s ease;
 }
 #navbar ul li a:active{
    color: #C28840;
 }
  #navbar ul li:hover{
    color: #C28840;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .comp p{
    font-size: 1.3rem;
   
    font-weight: bold;
    padding: 0px 2px;
    color:#C28840;
    cursor: pointer;

    
 }
  /* .hero>div{
    text-align: center;
  } */
   .hero-content{
    font-size: 3rem;
    font-family:'Bebas Neue', sans-serif;
    display: flex;
   margin: 190px 200px;
   font-weight:1000;
   /* color: #a6afcf; */
   color: #B22222; 
  

  }
  
  .hero .hero-content p{
    font-size: 1rem;
    margin: 15px 0px; 
    font-weight: normal;
    font-family: 'poppins', 'serif';
    color: rgb(114, 111, 111);
  }

  .btn{
    /* background-color:#a6afcf; */
    background-color: #B22222;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    padding: 10px 14px;
    border-radius: 6px;
    margin-top: 0px;
  }
   .btn:hover{
    background-color: #ff4040;
    border:2px solid red;
    font-weight: bold;
   transition: 0.4s;
   cursor: pointer;
   }
  .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -25px;
  }
  .item{
    text-align: center;

  }

  .number{
    font-size: 2rem;
    font-weight: bold;
    display: block;
    color: #B22222;
  }

  .label{
    font-size: 1rem;
    display: block;
   
  }
  

 


  .services-section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .services-section h1 {
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
    color: white;
  }
  
  .services-section p {
    font-family: cursive;
    font-size: 1.3rem;
    color: #B22222;
    margin-bottom: 35px;
  }
  
 
   .service-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 30px;
    padding: 20px 0;
    margin:0px 100px;
  
    scroll-padding: 0 50%;
    justify-content: start;
    /* HIDE SCROLLBAR */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .service-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .service-item {
    flex: 0 0 auto;
    min-width: 300px;
    background-color:  #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    
    width: 80px;
    height: 500px;
    scroll-snap-align: start;
    text-align: center;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.8s ease forwards; */
    /* opacity: 0; */
    scroll-snap-align: center;
    transition: transform 0.3s ease;
  }
  .service-slider:has(.service-item:hover) .service-item {
    transform: scale(0.9);
    /* opacity: 0.2; */
  }
  
  
 

.service-item:hover {
  transform: scale(1) !important;
  box-shadow: 0 2px 10px #ffffff;
  z-index: 10;
  opacity: 1;
  background-color: #000;
  filter: brightness(1.04);
}

.service-item:hover p,
.service-item:hover .high {
  color: #b22222;
  font-weight: bold;
}
  
  .service-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .service-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #B22222;
  }
  
  .high {
    color: #888888;
    font-size: 0.9rem;
  }
  
  /* Fade-in Animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .service-item:nth-child(1) { animation-delay: 0.2s; }
  .service-item:nth-child(2) { animation-delay: 0.4s; }
  .service-item:nth-child(3) { animation-delay: 0.6s; }
  .service-item:nth-child(4) { animation-delay: 0.8s; }
  .service-item:nth-child(5) { animation-delay: 1s; }

  .inform h6{
 text-align: center;
 font-family: cursive;
 font-size: 1.5rem;
  }

  .inform r{
    font-size: 2.4rem;
    font-family: cursive;
    color: #b22222;
  }
 
 /* Section Styling */
.trainer-section {
  text-align: center;
  padding: 20px;
  
  
}

.trainer-section h3 {
  font-size:2rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.trainer-section h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Grid Layout */
.trainer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
 
  margin: 0px 250px;
}

/* Card Styling */
.trainer-card {
  background-color:#1e1e1e;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  text-align: center;
  width: 80%;
  max-width: 300px; 
  height: 550px;
 
 
}

.trainer-card:hover {
  transform: scale(1.08);
  box-shadow: 0 2px 10px black;
  z-index: 1;
  background-color: #000;
}

.trainer-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.trainer-card h2 {
  font-size: 1.4rem;
  margin-top: 14px ;
  color: #b22222;
  font-family: cursive;

}

.trainer-card .spec {
  font-size: 0.8rem;
  color: #ffffff;
  font-family: cursive;
  
}
.btn2{
  /* background-color:#a6afcf; */
  background-color: #B22222;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
 border: 2px solid #b22222;
  padding: 10px 30px;
  border-radius: 6px;
  margin-top: 25px;
  margin-left: 15px;
}

 .btn2:hover{
  
  background-color: #ff4040;
  border: 2px solid red;
  font-weight: bold;
 transition: 0.4s;
 cursor: pointer;
 }


 .destination-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
 } 
 .left-desti h1{
  font-size: 2.8rem;
  color: #b22222;
 }
 .left-desti h3{
  font-size: 2.6rem;
  color: #b22222;
  margin-bottom: 25px;
 }
 .left-desti p{
  color: #ffffff;
  padding: 2px;
 }
 .btn3{
  /* background-color:#a6afcf; */
  background-color: #B22222;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
 border: 2px solid #b22222;
  padding: 10px 30px;
  border-radius: 6px;
  margin-top: 25px;
 
}

 .btn3:hover{
  
  background-color: #ff4040;
  border: 2px solid red;
  font-weight: bold;
 transition: 0.4s;
 cursor: pointer;
 }
/* .right-desti{
  width: 100%;
  height: 100%;
} */
 .right-desti img{
 height: 400px;
 }


  .member-section {
    padding: 30px 20px;
    text-align: center;
    
    color: white;
    
  }
  
  .member-section h1 {
    font-size: 2.8rem;
    font-family: cursive;
    color: #ff4040;
    margin-top: 25px;
  }
  
  .member-section h1 span {
    display: block;
    color: #ffffff;
  }
  
  .member-section p {
    font-size: 1.1rem;
    color: #bbbbbb;
    /* margin-bottom: 40px; */
  }
  .sub1{
    margin-bottom: 15px;
  }
  .member-section .sub {
    display: block;
    color:#bbbbbb;
    margin-bottom: 60px;
  }
  
  /* Grid layout */
  .member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 0px 260px;
  }
  
  .member-card {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    height: 350px;
  }
  
  .member-card .content p {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: cursive;
  }
  
  .member-card .content div {
    font-size: 0.8rem;
    color:#b22222;
    font-weight: bold;
    font-family: cursive;
  }
  
  .member-card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px black;
    z-index: 1;
    background-color:#000;
  }
  

 .feature{
  list-style: none;
  padding: 0;
 
  margin-top: 50px;
 }

 .feature li{
  margin-bottom: 10px;
  margin-left: 90px;
 
  display: flex;
  align-items: center;

 }

 .feature li::before{
  content: '✔';
  margin-right: 10px;
  color:#ffffff;
  
 }

 
  .btn1{
    /* background-color:#a6afcf; */
    background-color: #B22222;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
   border: 2px solid #b22222;
    padding: 10px 30px;
    border-radius: 6px;
    margin-top: 25px;
    margin-left: 15px;
  }
  
   .btn1:hover{
    
    background-color: #ff4040;
    border: 2px solid red;
    font-weight: bold;
   transition: 0.4s;
   cursor: pointer;
   }
 
   .importance{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
   }
   .left-importance{

  margin-left: 30px;
   }
  
   .right-importance{
    padding: 0px 0px;
    margin-right: 70px;
   }
   h3{
    color: #ffffff;
    font-family: cursive;

   }
   h1{
    color: #b22222;
    font-family: cursive;
    font-size: 2.4rem;
   }
   .about{
    display: flex;
    margin-top: 20px;
    
   }
   .about li{
    list-style: none;
    margin-right: 25px;
   }
   .about li::before{
    content: '✔';
    margin-right: 10px;
    color:#b22222;
    margin-left: 4px;

    
   }


   .offer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .left-offer img{
    width: 600px;

   }
   .right-offer h1{
    color: #ffffff;
    
   }
   .right-offer p{
    margin-top: 25px;
    padding: 4px 0px;
    color: #888888;
   }

   .h{
    color: #888888;
   }
   
   .btn4{
    /* background-color:#a6afcf; */
    background-color: #B22222;
    font-size: 1rem;
   
    color: white;
   border: 2px solid #b22222;
    padding: 10px 20px;
    border-radius: 6px;
    
   
  }
  
   .btn4:hover{
    
    background-color: #ff4040;
    border: 2px solid red;
   
   transition: 0.4s;
   cursor: pointer;
   }


   .contact-section{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0px 300px;
   
   }
   .contact-box{
    background-color:#111;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    height:150px;
    
   }
   .contact-box h3{
    color: #b22222;
    font-size: 1.4rem;
   }
   .contact-box p{
    color: #ffffff;
    font-family: cursive;
    font-size: 0.8rem;
   
   }
   .icon-location{
    content: '';
    font-size: 3rem;
    font-weight: 900;
   }
   .icon-phone{
    font-size: 3rem;
    font-weight: 900;
   }
   .icon-email{
    font-size: 3rem;
    font-weight: 900;
   }

   .contact-form{
    background-color: #1e1e1e;
    padding: 0px 60px;
    border-radius: 5px;
    margin: 0px 250px;
    height: 310px;
    
   }
   .contact-form h2{
    text-align: center;
    color: #B22222;
    font-size: 3rem;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 15px;
   }
   .contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1e1e1e;
   }
   .contact-form button{
    /* background-color:#a6afcf; */
    background-color: #B22222;
    font-size: 1.4rem;
   font-weight: bold;
    color: white;
   border: 2px solid #b22222;
    padding: 7px 70px;
    border-radius: 6px;
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    
   
  }
  
   .contact-form button:hover{
    
    background-color: #ff4040;
    border: 2px solid red;
   
   transition: 0.4s;
   cursor: pointer;
   }


   .footer{
    display: flex;

    padding: 35px 40px; 
    justify-content: center;
    align-items: center;
    
    background-color: #000; 
   
   }
  
   .footer-second img{
    width: 4%;
    height: 4%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    top: 14px;
   
   }
   .footer-second h1{
    margin: 5px;
    font-size: 1.6rem;
   }
   .footer-second h2{
    font-size: 1rem;
    margin-left: 65px;
    font-family: cursive;
    margin-bottom: 15px;
   }
   .footer-second p{
    font-size: 0.8rem;
    margin-left: 65px;
    font-family: cursive;
   }
   .footer-third{
    margin-right: 320px;
   }
   .footer-third h3{
    color: #b22222;
    font-size: 1.2rem;
   }
   .footer-third ul li{
    list-style: none;
    padding: 3px 0px;
    font-size: 0.8rem;
    font-family: cursive;
    
   }
   .footer-fourth{
    margin-right: 100px;
   }
   .footer-fourth h3{
    color: #b22222;
    font-size: 1.2rem;
   }
   .footer-fourth p{
    color: #ffffff;
    font-size: 0.8rem;
    font-family: cursive;
    padding: 3px 0px;
   }

   .bottom{
    background-color: #888888;
    font-size: 1.2rem;
    padding: 3px 0px;
    text-align: center;
    color:#B22222;
    font-weight: bold;
   }